sudo: required
dist: trusty
language: java
jdk:
  - oraclejdk7
  - openjdk7
  - oraclejdk8
addons:
  postgresql: "9.6"
env: 
  - STUCCO_DB_TYPE=POSTGRESQL STUCCO_DB_CONFIG='./config/postgresql.yml' STUCCO_DB_CONFIG='./config/postgresql.yml' SITU_DB_CONFIG='./config/elasticsearch.yml'
before_script:
  - ps aux | grep postgres
  - psql -c "CREATE USER stucco WITH PASSWORD 'stucco' CREATEDB CREATEROLE SUPERUSER REPLICATION;" -U postgres
  - psql -c "create database testdb with owner stucco;" -U postgres
install:
  - cat /proc/meminfo
  - cat /proc/cpuinfo
  - dpkg --get-selections
  - mvn --non-recursive scm:checkout -Dmodule.name=graph-db-connection -DscmVersion=sapphire -DscmVersionType=branch
  - cd graph-db-connection
  - mvn -e clean install -Dmaven.test.skip=true
  - cd ..
after_success:
  - wget https://raw.githubusercontent.com/stucco/test/master/rerun-test.sh
  - chmod a+x ./rerun-test.sh
  - ./rerun-test.sh
notifications:
  slack: sava:lB0VBcWKom3VNlr126hyI04E